<div id="goals">
  <h2>Goals</h2>

  <% goals.each do |goal| %>
    <div class="goal-item">
      <%= link_to goal_path(goal), :class => "goal #{goal.category.parameterize.underscore}" do %>
        <%= goal.title %>
      <% end %>
      <span>&#8358; <%= goal.amount %></span>
    </div>
  <% end %>
  <div class="goal-item">
    <%= link_to "Add a goal", new_goal_path, :class => "goal new" %>
  </div>
</div>
