<h3>Quantitative test result</h3>

<p>Your current ratio is <i><%= acumen_test.quantitative_result[:current_ratio] %></i></p>
<p>Your debt ratio is <i><%= acumen_test.quantitative_result[:debt_ratio] %></i></p>
