<h1>Acumen Test</h1>
<p>We are working now on this test implementation...</p>

<p>Acumen test status: <%= @acumen_test.finished? %></p>
<p>Result <i>(if present)</i>: <%= current_user.acumen_tests.first.try(:result) %></p>
<br />
<%= acumen_test_menu(current_user) %>