<h1>Profile</h1>

<%= render :partial => 'user_profile_menu' %>

<div id="user-settings">
  <%= render :partial => 'user_info' %>
</div>

<%= javascript_tag do %>
  $('#user-settings').customForm();
<% end %>
