<div id="sub_category_data">
  <table>
    <thead>
      <tr>
        <th>Merchant</th>
        <th>Spending November</th>
        <th>Spending December</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bank fee</td>
        <td>$610.0</td>
        <td>$751.0</td>
      </tr>
      <tr>
        <td>Pizza Hut</td>
        <td>$148.0</td>
        <td>$179.0</td>
      </tr>
      <tr class="show-all">
        <td colspan=3><%= link_to "Show all", '#' %></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total</td>
        <td>$1,768.42</td>
        <td>$2,235.08</td>
      </tr>
    </tfoot>
  </table>
</div>
