#first_section
  .users_count
#second_section
  %h2 
    Budget 24-7 helps you 
    understand your money better
#third_section
  %h2
    We don’t know any better  
    so we keep it simple
#fourth_section
  %h2 
    Once upon a time…
#fifth_section
  %h2 
    And to my left, we have...
#sixth_section
