.title
  Your
  %span Fun, Free &nbsp; Fast
  %br
  way to organize your money

.form
  = link_to "Get invited", '#', class: 'get_invited'

:javascript
  $('.get_invited').click(function(){
    return false;
  })