= stylesheet_link_tag "goals.some_hints.css?_=2"
#goals_hint
	.wrapper
		.title Some Hints
		.sub-title Save for wedding
		.desc
			Understand your investment options
			%br
			Contribute to your company's 401k
		%br
		.sub-title Save for present
		.desc
			Budget for your travel and travel on a budget
			%br
			%br
			Get a travel rewards card
