@mixin inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

@mixin radius($radius: 5px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;

}
