@mixin inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

@mixin radius($radius: 5px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin experimental($property, $value) {
  -moz-#{$property}: $value;
  -webkit-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@mixin box-shadow($bs) {
  @include experimental(box-shadow, #{$bs});
}

@mixin box-sizing($val: border-box) {
  -webkit-box-sizing: $val;
  -moz-box-sizing: $val;
  box-sizing: $val;
}

@mixin gradient($from, $to) {
  background-color: $to;
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $from),color-stop(1, $to));
  background-image: linear-gradient(top, $from, $to);
}

@mixin drop-down {
  .chzn-single {
    @include radius(1px);
    @include gradient(#fff, #eee);
    @include box-shadow(none);
    border: 1px solid #e1dde6;
    outline: none;
    height: 28px;
    line-height: 28px;

    div b { background: image-url('ico/chosen_corner.png') left center no-repeat; }
  }

  .chzn-drop .chzn-search input {
    padding: 4px 5px;
    background: none;
  }
}