@mixin inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

@mixin radius($radius: 5px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($left, $right, $distance, $color) {
  -moz-box-shadow: $left $right $distance $color;
  -webkit-box-shadow: $left $right $distance $color;
  box-shadow: $left $right $distance $color;
}

@mixin single-box-shadow($left, $right, $distance, $spread, $color) {
  -moz-box-shadow: $left $right $distance $spread $color;
  -webkit-box-shadow: $left $right $distance $spread $color;
  box-shadow: $left $right $distance $spread $color;
}

@mixin box-sizing($val: border-box) {
  -webkit-box-sizing: $val;
  -moz-box-sizing: $val;
  box-sizing: $val;
}
