@import "mixins";
// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.block {
  &.accounts, &.transactions {
    @include inline-block;
    vertical-align: top;
    width: 45%;
  }
}
.block.accounts + .block.transactions {
  margin-left: 10px;
}
