@import "mixins";

#accounts {
  @include inline-block;
  font-family: Helvetica,Arial,sans-serif;

  .totals {
    margin: 20px 0;
    font-size: 18px;

    .cash, .debt {
      @include inline-block;
      margin-right: 40px;
    }

    .cash { color: #84bc3d; }
    .debt { color: #f56c3c; }

    span {
      display: block;
      font-size: 11px;
      color: #9a9999;
    }
  }

  .date, .desc, .category, .amount {
    @include inline-block;
    @include box-sizing;
    padding: 5px;
  }

  .date {
    width: 50px;
    color: #9a9999;
  }

  .desc {
    width: 300px;
  }

  .category {
    width: 100px;
    color: #9a9999;
  }

  .amount {
    width: 60px;
  }

  .sort {
    color: #9a9999;
    font-size: 11px;
  }

  .transaction {
    font-size: 12px;
    clear: right;
  }

  .edit {
    float: right;
  }
}