@import "mixins";

.block.accounts {
  #accounts, #transactions {
    float: left;
    vertical-align: top;
  }

  #accounts {
    min-width: 35%;

    #accounts_list a {
      display: block;
      border: 1px solid #ccc;
      margin-top: -1px;
      text-decoration: none;
    }
  }

  #transactions {
    margin-left: -1px;

    h4 { padding-left: 20px; }

    .transactions_list {
      padding-left: 20px;
      border-left: 1px solid #eee;
    }
  }
}
