@import 'mixins';

.custom_result { display: none; }

blockquote {
  font-style: italic;
  font-size: 14px;
  color: #3e4050;
}

form .notifier {
  @include inline-block;
  font-family: Helvetica, Arial, sans-serif;
  margin: 10px 0 20px;
  font-size: 12px;
  line-height: 18px;
  color: #a1a1a1;
}

form > .notifier {
  padding-left: 22px;
  background: image-url('ico/clock.png') left center no-repeat;
}

.question_fields {
  position: relative;
  width: 600px;
  margin-bottom: 30px;
  padding-left: 70px;

  > span {
    @include radius(40px);
    @include inline-block;
    @include box-shadow(0 1px 1px #ccc inset);
    text-shadow: 0 1px 0 rgba(255,255,255,.0);
    position: absolute;
    left: 0;
    right: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #ececec;
    color: #9a9999;
    font-size: 16px;
  }

  &.done > span {
    text-indent: -9999px;
    background: image-url('ico/smiles/done.png') center center no-repeat;
  }

  .question {
    margin-bottom: 15px;
    font-size: 14px;
    color: #3e4050;
    text-shadow:  0 1px 1px rgba(255,255,255,.3);
  }

  &.checkboxes {
    .checkbox {
      position: relative;
      width: 200px;
      padding: 10px 10px 10px 75px;
      background: image-url('custom_form/checkbox_inactive.png') left center no-repeat;
      overflow: hidden;
      cursor: pointer;

      input[type=checkbox] {
        position: absolute;
        top: 100%;
      }

      &.checked { background: image-url('custom_form/checkbox_active.png') 4px center no-repeat; }
    }
  }
}

.answer_smiles {
  @include inline-block;
  @include radius(2px);
  border: 1px solid #e1dde6;

  .smile {
    @include gradient(#fff, #eee);
    float: left;
    position: relative;
    height: 48px;
    width: 52px;
    cursor: pointer;
    overflow: hidden;

    &.checked {
      @include box-shadow(inset 0 2px 5px rgba(0,0,0,.17));
      background: #efefef;
    }

    span {
      @include inline-block;
      height: 48px;
      width: 52px;
      background-position: center center;
      background-repeat: no-repeat;

      &.strongly_disagree { background-image: url('ico/smiles/strongly_disagree.png'); }
      &.moderately_disagree { background-image: url('ico/smiles/moderately_disagree.png'); }
      &.neither_agree_nor_disagree { background-image: url('ico/smiles/neither_agree_nor_disagree.png'); }
      &.moderately_agree { background-image: url('ico/smiles/moderately_agree.png'); }
      &.strongly_agree { background-image: url('ico/smiles/strongly_agree.png'); }
    }

    input {
      position: absolute;
      top: 100%;
    }
  }

  &.with_fields { margin-bottom: 30px; }
}


.question_fields {
  .field {
    @include gradient(#fff, #eee);
    @include radius(2px);
    @include inline-block;
    position: relative;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 10px 10px 10px 25px;
    cursor: pointer;
    border: 1px solid #e1dde6;
    overflow: hidden;
    color: #9a9999;
    font-size: 13px;
    text-shadow: 0 1px 1px #fff;

    input {
      position: absolute;
      top: 100%;
    }

    span { display: none; }

    &.checked {
      @include box-shadow(inset 0 4px 9px -2px rgba(0,0,0,.17));
      background: #efefef;

      span {
        @include inline-block;
        position: absolute;
        left: 8px;
        top: 12px;
        width: 10px;
        height: 11px;
        background: image-url('ico/smiles/checked.png') center center no-repeat;
      }
    }
  }
}

.answer_smiles {
 .field {
    @include radius(0);
    float: left;
    margin: 0;
    padding: 17px 25px;
    border: none;
    border-left: 1px solid #e1dde6;

    &:first-child { border-left: none; }

    &.checked {
      @include box-shadow(inset 0 4px 9px -2px rgba(0,0,0,.17));
      background: #efefef;

      span { background: none; }
    }
  }
}

.acumen_test_form {
  position: relative;

  .test_info {
    position: absolute;
    right: 3%;
    top: 190px;

    div {
      height: 38px;
      padding-left: 40px;
      line-height: 38px;
      font-size: 12px;
      color: #a1a1a1;
      background-repeat: no-repeat;
      background-position: left center;

      &.strongly_disagree { background-image: url('ico/smiles/strongly_disagree_small.png'); }
      &.moderately_disagree { background-image: url('ico/smiles/moderately_disagree_small.png'); }
      &.neither_agree_nor_disagree { background-image: url('ico/smiles/neither_agree_nor_disagree_small.png'); }
      &.moderately_agree { background-image: url('ico/smiles/moderately_agree_small.png'); }
      &.strongly_agree { background-image: url('ico/smiles/strongly_agree_small.png'); }
    }
  }

  h5 {
    font-size: 14px;
    color: #3e4050;
  }

  .input_fields {
    .input {
      @include inline-block;
      width: 325px;
      margin: 10px 120px 10px 0;

      .question {
        @include inline-block;
        vertical-align: middle;
        width: 180px;
        font-size: 13px;
        color: #9a9999;
        word-wrap: break-word;
      }

      .answer {
        @include inline-block;
        width: 130px;
        margin-left: 10px;
        vertical-align: middle;
        text-align: right;
        background: image-url('ico/nara.png') left center no-repeat;

        input[type=text] {
          @include inline-block;
          width: 100px;
          margin: 0;
          vertical-align: middle;
          font-size: 13px;
          color: #3e4050;
        }
      }

      &.checkbox {
        .answer {
          @include box-sizing;
          background: none;
          text-align: left;

          position: relative;
          padding: 13px 0 13px 75px;
          background: image-url('custom_form/checkbox_inactive.png') 15px center no-repeat;
          overflow: hidden;
          cursor: pointer;

          input[type=checkbox] {
            position: absolute;
            top: 100%;
          }

          &.checked { background: image-url('custom_form/checkbox_active.png') 18px center no-repeat; }
        }
      }
    }
  }

  input[type=submit] {
    @include inline-block;
    @include radius(2px);
    margin-top: 30px;
    padding: 8px 17px;
    border: 1px solid #8a6db4;
    background: #9d86bf;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 -1px 1px rgba(255,255,255,.21);
  }
}

.two_questions {
  margin-top: 60px;

  .input {
    .question {
      margin-bottom: 15px;
      font-size: 13px;
      color: #3e4050;
      text-shadow:  0 1px 1px rgba(255,255,255,.3);
    }

    .answer {
      font-size: 12px;
      color: #9a9999;
      text-shadow:  0 1px 1px rgba(255,255,255,.3);

      input {
        width: 18px;
        margin-right: 5px;
        padding: 3px 7px;
      }
    }
  }

  .slider { margin-top: 10px; }

  .slider + .input { margin-top: 35px; }

  .ui-slider-horizontal {
    height: 3px;
    width: 220px;
    background-color: #ececec !important;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #fff;
  }

  .ui-slider-range { background: none; }

  .ui-slider-handle {
    height: 16px !important;
    width: 16px !important;
    top: -6px !important;
    border: none !important;
    background: image-url('ico/slider_handle.png') center center no-repeat !important;
  }
}

.ranks {
  margin-bottom: 20px;

  span {
    @include inline-block;
    @include radius(3px);
    width: 100px;
    height: 37px;
    margin-right: 15px;
    border: 1px dashed #c8c8c8;
    text-align: center;
    font-size: 13px;
    line-height: 39px;
    color: #9a9999;
    background-color: #eee;
  }
}

.drag-field {
  margin-bottom: 15px;

  input[type=text] {
    display: none;
    width: 10px;
  }

  .question {
    @include inline-block;
    width: 410px;
    margin: 0;
    vertical-align: middle;
    font-size: 12px;
    color: #a1a1a1;
  }

  span {
    @include inline-block;
    @include radius(3px);
    @include gradient(#fff, #eee);
    @include box-shadow(0 1px 1px #fff);
    position: relative;
    width: 100px;
    height: 37px;
    margin-right: 15px;
    border: 1px solid #e1dde6;
    text-align: center;
    font-size: 13px;
    line-height: 39px;
    color: #9a9999;
    background-color: #eee;
    cursor: move;
    font-shadow: 0 1px 1px #fff;

    i {
      @include inline-block;
      position: absolute;
      left: 10px;
      top: 15px;
      width: 10px;
      height: 11px;
      background: image-url('ico/drag.png') center center no-repeat;
    }

    &.dropped {
      @include gradient(#b0d371, #93b556);
      border: 1px solid #9abe5a;
      color: #fff;
      text-shadow: 0 -1px 1px #809e4b;
      font-weight: bold;

      i {
        top: 13px;
        background: image-url('ico/drop_cross.png') center center no-repeat;
        cursor: pointer;
        z-index: 101;
      }
    }
  }
}
