@import 'mixins';

body { background: image-url('bg/main.png'); }

#main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -260px;
}

header {
  background: image-url('bg/menu_top.png') left top repeat-x;

  menu {
    height: 58px;
    width: 960px;
    margin: 0 auto;
    padding: 0;

    #logo {
      @include inline-block;
      margin: 17px 0;
      padding: 3px 0;
    }

    .user-menu-wrapper {
      position: relative;
      float: right;
      margin: 15px 0;

      .user-menu {
        li {
          @include inline-block;
          color: #ccc;
          float: left;

          i {
            @include inline-block;
            padding: 5px;
          }

          a {
            @include inline-block;
            padding: 7px 12px;
            font: 13px Helvetica, verdana, arial, sans-serif;
            color: #e4ddef;
            text-shadow: 0 1px 1px rgba(0,0,0,.31);
            text-decoration: none;

            &.sign_out {
              padding:  7px 10px 7px 22px;
              background: image-url('ico/user.png') 6px 7px no-repeat;
            }

            &:hover {
              @include radius(3px);
              background-color: #3a2d4a;
              color: #fefefe;
              text-shadow: none;
            }
          }
        }
      }
    }
  }
}

.footer_push { height: 240px; }

footer {
  @include box-sizing;
  text-shadow: 0 1px 1px rgba(0,0,0,.35);
  bottom: 0;
  background: image-url('bg/footer.png') left bottom repeat-x;
  height: 240px;

  menu {
    width: 960px;
    padding: 65px 0 10px;
    margin: 0 auto;
    color: #e4ddef;
    font-size: 12px;
    font-family: Helvetica,Arial,sans-serif;

    a {
      color: #e4ddef;
      text-decoration: none;

      &:visited { color: #e4ddef; }
      &:hover { text-decoration: underline; }
    }

    ul {
      @include inline-block;
      margin-right: 45px;

      li {
        margin-bottom: 13px;

        &.head {
          color: #fff;
          font-size: 13px;
          font-weight: bold;
        }
      }
    }
  }

  .content {
    float: right;
    width: 285px;
    padding: 0 0 0 50px;

    img { margin-left: -50px; }

    p {
      margin: 5px 0 5px;
      line-height: 1.6em;
    }
  }
}
