@import 'mixins';

.block {
  .budgets-months {
    padding: 0 20px;
    font-size: 18px;
  }

  > a {
    @include inline-block;
    padding-left: 20px;
  }
}

#incomes, #spending {
  width: 730px;
  padding-left: 20px;

  > .amount {
    padding: 5px 0;
    color: #9a9999;
    font-size: 12px;

    .sum {
      @include inline-block;
      font-weight: bold;

      .cur {
        @include inline-block;
        font-size: 11px;
      }
    }
  }

  .item {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 16px;
    color: #9a9999;

    .edit {
      @include inline-block;
      width: 14px;
      height: 16px;
      text-indent: -9999px;
      background: image-url('ico/edit.png') center center no-repeat;
    }

    &.income, &.spending {
      .spent {
        float: right;
        margin-bottom: 5px;
      }

      .progress {
        @include radius(3px);
        height: 15px;
        background-color: #eee;
        border: 1px solid #ccc;
        clear: right;
        overflow: hidden;

        div { @include radius(3px); }
        .charged { @include gradient(#f77141, #f56d3d); }
        .active-bar { @include gradient(#94c355, #8fbb51); }
      }
    }

    .spent {
      font-size: 12px;
      color: #9a9999;

      .b-start, .b-end, .start, .end {
        @include inline-block;
        font-weight: bold;
      }

      .b-start, .start {
        color: #4b4d5c;
      }
    }
  }

  .amount { font-size: 13px; }

  .new-budget {
    @include radius(5px);
    @include box-sizing;
    display: block;
    width: 100%;
    margin: 10px 0 20px;
    padding: 10px 10px 10px 30px;
    border: 1px dashed #e1dde6;
    text-decoration: none;
    font-weight: bold;
    color: #b6b1be;
    background: #fcfcfc image-url('ico/add_budget.png') 10px 10px no-repeat;
  }
}

#budgets {
  h3 {
    margin-bottom: 0;
    font-weight: normal;
  }

  #result {
    position: relative;

    aside {
      position: absolute;
      left: 790px;
      top: 0;

      dl {
        font-size: 11px;
        color: #9a9999;
        clear: both;

        dd, dt {
          @include inline-block;
          height: 20px;
          line-height: 22px;
          vertical-align: middle;
        }

        dt { width: 70px; }

        dd {
          margin: 0;
          padding: 0;
          text-align: right;
          width: 75px;
        }

        &.income {
          dd {
            font-size: 18px;
            font-weight: bold;
            color: #84bc3d;
          }
        }

        &.spending {
          dd {
            font-size: 18px;
            font-weight: bold;
            color: #f56c3c;
          }
        }

        &.left {
          dd {
            font-size: 18px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

#budget_category_chzn {
  @include drop-down;
  min-width: 203px;
}

form[id*=budget] {
  div:first-child + .field { margin-top: 0; }

  .field {
    margin-top: 30px;

    p { margin: 5px 0 7px; }
  }

  > .period {
    margin: 10px 0 0;

    #period_chzn {
      @include drop-down;
      min-width: 90px;
    }
  }

  > .start {
    margin: 10px 0 15px;

    #budget_start_2i_chzn, #budget_start_1i_chzn {
      @include drop-down;
      min-width: 90px;
    }
  }
}

#create_new_budget { display: none; }
