@import 'mixins';

.block {
  #incomes, #spending, #goals {
    h3 {
      @include inline-block;
      width: 100px;
    }

    h3 + p { @include inline-block;}
    table { margin-left: 103px; }
  }

  #budgets_search_container { margin-bottom: 10px; }
}
