html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  background: #fff;
}

table {
  border: 1px solid #ccc;
  border-spacing: 0;
  border-collapse: collapse;

  th, td {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
  }

  td:first-child { text-align: left; }
}

.clear { clear: both; }
.hidden { display: none; }

#wrapper {
  width: 960px;
  margin: 0 auto;
  height: 100%;

  menu {
    margin: 0;
    padding: 10px 0;
    border: 1px solid #cbc9c2;
    background-color: #fefbf3;

    > a { padding: 5px; }

    .user-menu-wrapper {
      position: relative;
      float: right;

      .user {
        padding: 5px;
        cursor: pointer;
        text-decoration: underline;
      }

      .user-menu {
        position: absolute;
        right: 0;
        margin: 0;
        padding: 0;
        display: none;
        min-width: 150px;
        list-style-type: none;
        background: #eee;
        z-index: 3;

        li {
          padding: 5px;
        }
      }
    }
  }

  footer {
    width: 960px;
    margin: 20px 0;
    border: 1px solid #ccc;
  }
}

.block {
  margin: 20px 0;
  padding: 20px;
  background: white;
  border-radius: 5px;
  -moz-box-shadow: 0, .5px, 7px rgba(0,0,0,.25);
  -webkit-box-shadow: 0, .5px, 7px rgba(0,0,0,.25);
  box-shadow: 0 .5px 7px rgba(0,0,0,.25);
}

/* chosen */
.chosen { min-width: 100px; }

/*flash styles*/
/* TODO:should be removed when flash is implemented*/
#notice { background-color: #A4E7A0; border: 1px solid #26722D; }
#error { background-color: #F0A8A8; border: 1px solid #900; }
#notice, #error { width: 90%; margin: 0 auto 10px auto; padding: 5px; }
#notice p, #error p { margin-left: 20px; padding: 0; font-size: .75em; color: #000; }
#notice a, #error a { text-decoration: none; padding: 0 3px; }
#notice a { border: 1px solid #26722D; color: #26722D; }
#error a { border: 1px solid #900; color: #900; }
#notice a:hover, #error a:hover { color: #333; border: 1px solid #333; }