@import 'mixins';

#trends {
  font-family: Helvetica,Arial,sans-serif;
  color: #3e4050;

  #trends_calendar {
    #period { font-size: 18px; }

    .predefined {
      text-align: center;

      a {
        @include inline-block;
        margin: 20px 10px 10px;
        text-decoration: none;
        font-size: 12px;
        color: #29a3c7;
      }
    }
  }

  #graph {
    h4 {
      font-size: 18px;
      font-weight: normal;
    }

    menu {
      @include inline-block;
      vertical-align: top;

      ul {
        @include inline-block;
        vertical-align: top;

        li {
          &:hover a, &.active a { color: #4b4d5c; }

          a {
            @include inline-block;
            @include box-sizing;
            width: 100%;
            padding: 10px 20px 10px 5px;
            text-decoration: none;
            font-size: 12px;
            color: #29a3c7;
          }
        }

        &#main_filter {
          @include single-box-shadow(3px, 0, 2px, -2px, rgba(0,0,0,.1));
          margin-right: 28px;

          &:hover li.active {
            &:after { background: none; }

            &:hover:after {
              position: absolute;
              content: '';
              top: 7px;
              right: -13px;
              width: 13px;
              height: 20px;
              background: image-url('ico/trends_menu_corner.png') 100% center no-repeat;
            }
          }

          li {
            position: relative;

            &:hover:after, &.active:after {
              position: absolute;
              content: '';
              top: 7px;
              right: -13px;
              width: 13px;
              height: 20px;
              background: image-url('ico/trends_menu_corner.png') 100% center no-repeat;
            }
          }
        }
      }
    }
  }
}
