#first_section{
  height:728px;
  background-image:image-url('welcome/first_section.png');
  width:100%;
  position: absolute;
  top: 82px;
  left: 0;
  z-index:-1;
}
#second_section{
  height:804px;
  background-image:image-url('welcome/second_bg.png');
  position: absolute;
  top: 810px;
  left: 0;
  width:100%;
  z-index:-1;
}
#third_section{
  height:806px;
  background-image:image-url('welcome/third_section.png');
  position: absolute;
  top: 1614px;
  left: 0;
  width:100%;
  z-index:-1;
}
#fourth_section{
  height:806px;
  background-image:image-url('welcome/forth_section.png');
  position: absolute;
  top: 2420px;
  left: 0;
  width:100%;
  z-index:-1;
}
#fifth_section{
  height:807px;
  background-image:image-url('welcome/fifth_bg.png');
  position: absolute;
  top: 3220px;
  left: 0;
  width:100%;
  z-index:-1;
}
#sixth_section{
  height:807px;
  background-image:image-url('welcome/sixth_section.png');
  width:100%;
  position: absolute;
  top: 4027px;
  left: 0;
  z-index:-1;
}
