<h1>Accounts</h1>

<%= render :partial => 'accounts_list_menu' %>

<div id="accounts">
  <%= render :partial => 'accounts' %>
</div>

<div id="new-account-dialog">
  <%= render :partial => 'new_account' %>
</div>

<%= javascript_tag do %>
  $('#accounts').customForm();
<% end %>
